<template>

    <q-card class="my-card" flat bordered>
      <q-item>
        <q-item-section avatar>
            <q-icon name="fas fa-filter" class="text-blue-grey" style="font-size: 26px;" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Filter Options</q-item-label>
          <q-item-label caption>
            Select a date range and test groups of interest.
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-separator />

      <q-card-section>
         <div style="min-width: 150px; max-width: 400px">
           <q-input v-model="dateRange" label="Date range" type="datetime">
             <template v-slot:append>
               <q-icon name="event" class="cursor-pointer">
                 <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                   <q-date v-model="dateRangeModel" range>
                     <div class="row items-center justify-end">
                       <q-btn v-close-popup label="Close" color="primary" flat />
                     </div>
                   </q-date>
                 </q-popup-proxy>
               </q-icon>
             </template>
           </q-input>
      </div>

      </q-card-section>

      <q-card-section>
         <div style="min-width: 250px; max-width: 400px">
           <q-select
             filled
             v-model="testGroupsModel"
             multiple
             :options="testGroupsOptions"
             use-chips
             stack-label
             label="Test Groups"
           />

         </div>
      </q-card-section>

      <q-card-section>
        <q-btn color="dark" label="Apply" @click="triggerFilterEvent" />
      </q-card-section>
    </q-card>

</template>

<script>
import { ref } from 'vue'

export default {
  props: {
     dt_to: {type: String},
     dt_from: {type: String}
  },
  setup (props) {
    return {
      dateRangeModel: ref({ from: props.dt_from, to: props.dt_to }),
      testGroupsModel: ref(null),
      testGroupsOptions: [{'value': 1, 'label': 'ARM SMMU'},
                          {'value': 2, 'label': 'Record/Replay'},
                          {'value': 3, 'label': 'S390 General Architecture Support'}],
    }
  },
  computed: {
     dateRange() {
        return this.dateRangeModel.from + ' - ' + this.dateRangeModel.to
     },
     inGroups() {
        let result = []
        if (this.testGroupsModel === null)
           return result.join(",")
        this.testGroupsModel.forEach((element) => {
           result.push(element.value)
           console.log(element)           
        })
        console.log("Result:", result)
        return result.join(",")
     }
  },
  methods: {
    triggerFilterEvent() {
       let event_data = {'dt_from': this.dateRangeModel.from.replaceAll('/','-'),
                         'dt_to': this.dateRangeModel.to.replaceAll('/','-'),
                         'in_groups': this.inGroups}
       this.emitter.emit('project.filter.applied', event_data)
       console.log("Event created:", event_data) 
    }
  }
}
</script>
